<div>
    <div *ngIf="params.enableCheck"> 
        <span  *ngIf="params.visible">
            <input type="checkbox" [checked] = item (change) = "change(item, $event)" >
        </span> 
    </div>
    <div *ngIf="params.enableCheck!=true">
    {{ params.displayName }}
    </div>
</div>

