<div style="text-align: center">
    <span>
      <h2>Toolbar</h2>
      <button (click)="onToggleSelection()">Tooggle Selection</button>
      <dl style="font-size: large; padding: 30px 40px 10px 30px">
        <dt class="totalStyle">
          Total Record Count: <b>{{ rowNumber }}</b>
        </dt>
      </dl>
      <dl style="font-size: large; padding: 30px 40px 10px 30px">
        <dt class="totalStyle">
          Selected Record Count: <b>{{ selectedRowNumber }}</b>
        </dt>
      </dl>
    </span>
  </div>
  